<div>
  {{#if (not (eq state.gameState GameState.Welcome))}}
    <div class="title">
      <h1 class="logo">Glimmeroids</h1>
    </div>
  {{/if}}

  {{#if (not (eq state.gameState GameState.Running))}}
    <div class="message">
      {{#if (eq state.gameState GameState.GameOver)}}
        <p>Game over, man!</p>
        <p>{{gameOverMessage}}</p>
        {{#if isPrizeWinner}}
          <p class="prize">You have won an Ember.js T-Shirt for scoring more than {{PRIZE_THRESHOLD}} points!</p>
        {{/if}}
        {{#if state.shouldSubmitTopScorerName}}
          <div class="topscore-form" >
            <input class="topscore-form__input" type="text" value={{newTopScorerName}} onblur={{action updatePlayerName}} />
            <button type="submit" onclick={{action submitTopScorerName}}>Submit</button>
          </div>
        {{else}}
          <h3>Top Scores</h3>
          <ol>
            {{#each topScorers key="@index" as |player|}}
              <li class="topscore-panel__item">
                <span class="topscore-panel__player-name">{{player.name}}</span>
                <span class="topscore-panel__player-score">{{player.score}}</span>
              </li>
            {{/each}}
          </ol>
        {{/if}}
      {{else}}
        <h1 class="logo">Glimmeroids</h1>
        <p class="tagline">Score {{PRIZE_THRESHOLD}} points and win an Ember.js T-Shirt or Tomster mascot!</p>
      {{/if}}
      <button onclick={{action startGame}}>
        {{if (eq state.gameState GameState.GameOver) "try again?" "start the game"}}
      </button>
    </div>
  {{/if}}


  <span class="score current-score" >Score: {{state.currentScore}}</span>
  <span class="score top-score" >Top Score: {{firstTopScore}}</span>
  <span class="controls" >
    Use [A][W][D] or [←][↑][→] to MOVE<br/>
    Use [SPACE] to SHOOT
  </span>
  <canvas
    width={{canvasSize.width}}
    height={{canvasSize.height}}
  />
</div>
