<div>
  {{#if (not (eq state.gameState GameState.Welcome))}}
    <div class="title">
      <h1 class="logo">Glimmeroids</h1>
    </div>
  {{/if}}

  {{#if (not (eq state.gameState GameState.Running))}}
    <div class="message">
      {{#if (eq state.gameState GameState.GameOver)}}
        <p>Game over, man!</p>
        <p>{{gameOverMessage}}</p>
        {{#if isPrizeWinner}}
          <p class="prize">You have won an Ember.js mascot for scoring more than {{PRIZE_THRESHOLD}} points!</p>
        {{/if}}
      {{else}}
        <h1 class="logo">Glimmeroids</h1>
        <p>Score {{PRIZE_THRESHOLD}} points and win an Ember.js mascot!</p>
      {{/if}}
      <button onclick={{action startGame}}>
        {{if (eq state.gameState GameState.GameOver) "try again?" "start the game"}}
      </button>
    </div>
  {{/if}}


  <span class="score current-score" >Score: {{state.currentScore}}</span>
  <span class="score top-score" >Top Score: {{state.topScore}}</span>
  <span class="controls" >
    Use [A][W][D] or [←][↑][→] to MOVE<br/>
    Use [SPACE] to SHOOT
  </span>
  <canvas
    width={{canvasSize.width}}
    height={{canvasSize.height}}
  />
</div>
